.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 20px;  
  color: #2a363b;
}

.link.activeLink {
  color: #4ae8ae;
}

.nav {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}