.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.header {text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.group {
    margin-bottom: 20px;
}

.group label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}



.group input[type="text"],
.group input[type="email"],
.group input[type="password"] {
    width: calc(100% - 30px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
     background-color: #101950;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
